.row{
background:teal;
min-height:100px;
margin-top:2%;
}
#dv{
	background:gray;
	
}
#dv5{
	background:yellow;
	
}
#dv1{
	background:teal;
	
}
#dv2{
	background:red;
	
}
#dv3{
	background:blue;
	
}
#dv4{
	background:green;
	
}
#dvv{
	background:pink;
	min-height:100px;
	
}
#dvv1{
	background:red;
	min-height:100px;
	
}
#dvv2{
	background:brown;
	min-height:100px;
	
}













