<!--Using the program to preholder-->

#preloader
{
position:fixed;
top:0;
left:0;
right:0;
bottom:0;

}
#preloader:before
{
content:"";
position:fixed;
top:calc(50% - 30px);
left:calc(50% - 30px);
border:6px solid black;
border-bottom-color:lime;
border-top-color:blue;
border-radius:50%;
width:90px;
height:90px;
-webkit-animation:animate-preloader 3s linear infinite;
animation:animate-preloader 3s linear infinite;
}
@-webkit-keyframes animate-preloader
{
0%{transform:rotate(0deg);}
100%{transform:rotate(360deg);}
	}
@keyframes animate-preloader
{
0%{transform:rotate(0deg);}
100%{transform:rotate(360deg);}
}

